<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AppsHub"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".multimedia.SoundActivity"
            android:exported="false" />
        <activity
            android:name=".multimedia.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".multimedia.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".multimedia.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".multimedia.PreCam"
            android:exported="false" />
        <activity
            android:name=".firebase.BuscarAlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.ListaAlumnosActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.NonAuthActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.FirebaseActivity"
            android:exported="false" />
        <activity
            android:name=".chuck.Chuckmemes"
            android:exported="false" />
        <activity
            android:name=".logins.ActivityFotos"
            android:exported="false" />
        <activity
            android:name=".Hub"
            android:exported="false" />
        <activity
            android:name=".ActivityInicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logins.Register"
            android:exported="false" />
        <activity
            android:name=".logins.Login"
            android:exported="false" />
        <activity
            android:name=".juegopig.MainPig"
            android:exported="false" />
        <activity
            android:name=".juegopig.ActivityScores"
            android:exported="false" />
        <activity
            android:name=".juegopig.GameActivity"
            android:exported="false" />
        <activity
            android:name=".juegopig.PlayersActivity"
            android:exported="false" />
        <activity
            android:name=".juegopig.MainActivity"
            android:exported="false" />
    </application>

</manifest>